*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./b4.jpg");
}
.con{
    max-width: 70%;
    
    padding: 34px;
    margin:auto;

}

.con h3,p{
    text-align: center;
}

input,textarea{
    display: block;
    width: 50%;
    margin: 11px 0px;
    padding: 7px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 40px;
    outline: none;

}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.btn{
    color: #0a0a0a;
    padding: 10px;
    border: 2px solid  black;
    border-radius: 20%;
    width: 10%;
    margin: 10px;
    background:white;
    cursor: pointer;
}